.main-content {
    flex: 1;
    display: grid;
    grid-template-columns: 350px 1fr 320px; /* Tamaño fijo para columnas laterales, flexible al centro */
    gap: 15px;
    height: calc(100vh - 40px);
}

.detail-view {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.event-banner img {
    width: 100%;
    border-radius: 20px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}